/*FOOTER*/
footer {
    width: 100%;
    background-color: var(--smoke-black);
}
.footer__container {
    width: 80%;
    height: 100px; 
    margin: 0 auto;
    text-align: center;
    border-top: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__text {
    font-size: 1.2rem;
}
