:root {
    
    --black: #151515;
    --white: #ffffff;
    --smoke-black: #242424;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
}
.arrow {
    background-color: white;
    border-radius: 50%;
}
h1,h2,h3,p {
    color: var(--white);
}


/*CSS DEL HEADER*/
header {
    width: 100%;
    background-color: var(--black);
}
.header__container {
    width: 80%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center; 
}
.header__container-elements {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    z-index: 1;
}
.header__container-elements p {
    font-size: 3rem;
    color: var(--white);
}
.header__container-elements .header__nav ul {
    display: flex;
    width: 235px;
    justify-content: space-around;
    
    
}


/*Main*/ 
.main__container {
    width: 100%;
    background-color: var(--black);

}


/*CSS DE LA SECCION ABOUTUS*/
.main__container-intro {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.intro__descripcion {
    color: var(--white);
    font-size: 2rem;
}
.banderaEc {
    width: 20px;
    height: 20px;
}
.intro__descripcion h2 {
    padding-bottom: 15px;
}
.intro__descripcion h2 span {
    text-decoration: underline 5px var(--white);
}
.intro__descripcion ul {
    width: 100%;
    font-size: 1.5rem;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
}
.intro__descripcion ul li a {
    color: white;
    font-weight: bolder;
}
.intro__img__container {
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.intro__img__container div {
    background-color: var(--smoke-black);
    position: absolute;
    width: 80%;
    height: 350px;
    top: -215px;
    display: flex;
    justify-content: center;
}
.intro__img__container div img {
    position: absolute;
    bottom: 0;
    width: 236px;
}


/*SOBRE MI*/
.main__container-sobreMi {
    width: 100%;
    height: 400px;    
    background-color: var(--smoke-black);
    display: flex;
    align-items: center;
}
.main__container-sobreMi div {
    width: 80%;
    margin: 0 auto;    
}
.main__container-sobreMi h2 {
    color: var(--white);
    font-size: 3rem;
    font-weight: bolder;
}
.main__container-sobreMi p {
    color: var(--white);
    font-size: 1.8rem;
    width: 75%;
    text-align: justify;
    padding-top: 15px;
    line-height: 3.5rem;
}


/* SKILLS Y HOBBIES*/
.main__container-skills-Hobbies {
    width: 80%;
    padding-top: 35px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.main__container-skills-Hobbies h3 {
    font-size: 4rem;
    padding-bottom: 25px;
}
.grid-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}
.post-container {
    width: 130px;
    height: 130px;
    border-radius: 30px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.post-container svg {
    width: 50px;
    padding-bottom: 15px;
}
.post-container img {
    width: 50px;
    padding-bottom: 15px;
}
.post-container p {
    color: #242424;
    font-weight: bolder;
    font-size: 2rem;
}

/*FORMACION*/
.main__container-formacion {
    width: 100%;
    padding-top: 35px;
    background-color: var(--white);
}
.main__container-formacion h2 {
    color: var(--smoke-black);
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;  
}
.grid-container-formacion {
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px;  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post-container-formacion {
    width: 287px;
    height: 338px;
    margin-bottom: 35px;
    border:5px solid var(--smoke-black);
    border-start-start-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 140px;
    padding-bottom: 30px;
}
.post-container-formacion h3 {
    color: var(--black);
    font-size: 1.8rem;
    font-weight: bold;  
}
.post-container-formacion p {
    color: var(--smoke-black);
    font-size: 1rem;
    font-weight: 700;
}


/* MIS PROYECTOS*/
.main__container-proyectos {
    width: 100%;
    padding-top: 35px;
   
}
.main__container-proyectos h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;  
}
.grid-container-proyectos {
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px;  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post-container-proyectos {
    width: 450px;
    height: 450px;
    background-color: var(--smoke-black);
    margin-bottom: 45px;
}
.post-container-proyectos img {
    width: 100%;
    height: 70%;
    border-bottom: 5px solid gray;
}
.post-container-proyectos h2 {
    color: var(--white);
    font-size: 2.2rem;
    text-align: start;
    padding-top: 15px;
    padding-left: 15px;
}
.post-container-proyectos p {
    color: var(--white);
    font-size: 1.8rem;
    padding-left: 15px; 
}
.contenedor-botones {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.boton-repositorio {
    width: 130px;
    height: 35px;
    text-align: center;
    border: 1px solid var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 7px;
}
.boton-verDemo {
    width: 130px;
    height: 35px;
    text-align: center;
    background-color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 7px;
}
.boton-repositorio a {
    color: white;
}

/*Formulario*/
