:root {
    
    --black: #151515;
    --white: #ffffff;
    --smoke-black: #242424;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
}
.arrow {
    background-color: white;
    border-radius: 50%;
}
h1,h2,h3,p {
    color: var(--white);
}


/*CSS DEL HEADER*/
header {
    width: 100%;
    background-color: var(--black);
}
.header__container {
    width: 80%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center; 
}
.header__container-elements {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    z-index: 1;
}
.header__container-elements p {
    font-size: 3rem;
    color: gray;
    font-weight: bolder;
    text-shadow: 1px 1px 2px var(--smoke-black);
}
.header__container-elements .header__nav ul {
    display: flex;
    width: 235px;
    justify-content: space-around;
}


/*Main*/ 
.main__container {
    width: 100%;
    background-color: var(--black);
}


/*CSS DE LA SECCION SOBRE MI*/
.main__container-intro {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.intro__descripcion {
    color: var(--white);
    width: 70%;
}
.banderaEc {
    width: 20px;
    height: 20px;
}
.intro__descripcion h2 {
    padding-bottom: 15px;
    color: white;
    font-size: 4rem;
    text-shadow: 1px 1px 2px gray;
}
.intro__descripcion-nombre {
    color: gray;
    font-size: 2.5rem;
    font-weight: bolder;
}
.intro__descripcion-nombre span {
    color: white;
    text-shadow: 1px 1px 2px gray;
}
.intro__descripcion ul {
    width: 100%;
    font-size: 1.5rem;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
}
.intro__descripcion ul li a {
    color: white;
    font-weight: bolder;
}
.intro__img__container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.intro__img__container img {
    height: 280px;
    right: 0;
    border-radius: 50% ;
    border: 5px solid white;
}

/*SOBRE MI*/
.main__container-sobreMi {
    width: 100%;
    background-color: var(--smoke-black);
    display: flex;
    align-items: center;
}
.main__container-sobreMi div {
    width: 80%;
    margin: 0 auto;    
}
.main__container-sobreMi h2 {
    color: var(--white);
    font-size: 3rem;
    font-weight: bolder;
}
.main__container-sobreMi p {
    color: var(--white);
    font-size: 1.8rem;
    width: 75%;
    text-align: justify;
    padding-top: 15px;
    line-height: 3.5rem;
}


/* SKILLS Y HOBBIES*/
.main__container-skills-Hobbies {
    width: 100%;
    height: auto;
}
.main__container-skills-Hobbies {
    width: 80%;
    padding-top: 35px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.main__container-skills-Hobbies h3 {
    font-size: 4rem;
    padding-bottom: 25px;
}
.grid-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}
.post-container-skills {
    width: 130px;
    height: 130px;
    border-radius: 30px;
    /* background-color: var(--white); */
    border-bottom:5px solid var(--smoke-black);
    border-top: 5px solid var(--smoke-black);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.post-container-skills svg {
    width: 50px;
    padding-bottom: 15px;
}
.post-container-skills img {
    width: 50px;
    padding-bottom: 15px;
}
.post-container-skills p,
.post-container-hobbies p {
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}

/*FORMACION*/
.main__container-formacion {
    width: 100%;
    padding-top: 35px;
    background-color: var(--white);
}
.main__container-formacion h2 {
    color: var(--smoke-black);
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;  
}
.grid-container-formacion {
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px;  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post-container-formacion {
    width: 100%;
    max-width: 287px;
    height: 338px;
    margin-bottom: 35px;
    border:5px solid var(--smoke-black);
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 140px;
    padding-bottom: 30px;
}
.post-container-formacion h3 {
    color: var(--black);
    font-size: 1.8rem;
    font-weight: bold;  
}
.post-container-formacion p {
    color: var(--smoke-black);
    font-size: 1rem;
    font-weight: 700;
}


/* MIS PROYECTOS*/
.main__container-proyectos {
    width: 100%;
    padding-top: 35px;
   
}
.main__container-proyectos h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;  
}
.grid-container-proyectos {
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px;  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post-container-proyectos {
    width: 450px;
    height: 460px;
    background-color: var(--smoke-black);
    margin-bottom: 45px;
}
.container-image {
    position: relative;
    width: 100%;
    height: 70%;
}
.image {
    width: 100%;
    height: 315px;
    display: block;
    border-bottom: 5px solid gray;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: gray;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
  
.container-image:hover .overlay {
    bottom: 0;
    height: 100%;
}
  
.container-image-text {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
}
.post-container-proyectos h2 {
    color: var(--white);
    font-size: 2.2rem;
    text-align: start;
    padding-top: 15px;
    padding-left: 15px;
}
.post-container-proyectos p {
    color: var(--white);
    font-size: 1.8rem;
    padding-top: 5px;
    padding-left: 15px; 
}
.contenedor-botones {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.boton-repositorio {
    width: 130px;
    height: 35px;
    text-align: center;
    border: 2px solid var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 7px;
}
.boton-verDemo {
    width: 130px;
    height: 35px;
    text-align: center;
    background-color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 7px;
}
.boton-repositorio a {
    color: white;
}


/*Formulario*/
.main__container-contacto {
    width: 100%;
    padding-top: 35px;
    background-color: var(--smoke-black);
    /* height: 60vh; */
}
.grid-container-contacto {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 20px;  
    display: flex;
}
.container-texto-contacto {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bolder;
}
.container-texto-contacto p {
    color: gray;
    padding: 5px;
}
.container-texto-contacto h2{
   font-size: 6rem;
}

.container-formulario {
    width: 70%;
    height: auto;
}
.container-formulario .input-box {
    /* width: 390px; */
    width: 100%;
    height: 40px;
    color: white;
    background: none;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
}
.container-formulario .text-area {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 90px;
    color: white;
    border-bottom: 2px solid gray;
    margin-top: 10px;
    font-size: 1.5rem;
    resize: none;
}
.form-btn {
    width: 100%;
    height: 40px;
    color: white;
    background: none;
    outline: none;
    border: none;
    margin-top: 10px;
    border-bottom: 3px solid gray;
    cursor: pointer;
}

/*FOOTER*/
footer {
    width: 100%;
    background-color: var(--smoke-black);
}
.footer__container {
    width: 80%;
    height: 100px; 
    margin: 0 auto;
    text-align: center;
    border-top: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__text {
    font-size: 1.2rem;
}